#Lists

In [2]:
my_list = ["a", "b", "c", "d"]

###A value can be accessed by indicating the index.

In [ ]:
print(my_list[0])

a

In [4]:
#We can specify that we only want the first two elements of the list.
print(my_list[:2])

['a', 'b']

In [5]:
#We can also reverse the list.
print(my_list[::-1])

['d', 'c', 'b', 'a']

In [6]:
#Multiplying the amout and replacing the original list
my_list = my_list * 5
print(my_list)

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

In [7]:
my_list = ["a","b","c","d"]

#Adding  data to the list
my_list.append("Add Text")
print(my_list)

['a', 'b', 'c', 'd', 'Add Text']

#We can put any data type in a list

In [2]:
var = "Hello this is a string"
other_list = [200.1, "hi", ["List inside another list","Interesting right!"], 90, var]
print(other_list)

[200.1, 'hi', ['List inside another list', 'Interesting right!'], 90, 'Hello this is a string']

#We can also merge two lists

In [5]:
x = [1,2,3,4]
y = [4,5,6,7]
x.extend(y)
print(x)

#OR
x = [1,2,3,4]
y = [4,5,6,7]
xy = x + y
print(xy)

[1, 2, 3, 4, 4, 5, 6, 7]
[1, 2, 3, 4, 4, 5, 6, 7]

#Tuples

In [ ]:
tuple_example = ("Bangladesh", "Belgium", "Bhutan")
tuple_example.append("Australia")
print(tuple_example) #there will be an error since we can't use append on tuple

AttributeError: 'tuple' object has no attribute 'append'

#Tuples Vs List

If you need to process a collection that will not change, we will use tuples. 

If we know that a particular collection will have to be changed, then we weill use the lists.

#Dictionaries

Each element of a dictionary consists of a pair of objects: an index and a value, separated by a colon. The indexes are called keys. We use keys to extract a value, therefore the order the elements are present inside a distionary is irrelevent.

In [8]:

heroes = {}
heroes["Batman"] = "Bruce Wayne"
heroes["Superman"] = "Clark Kent"

In [9]:
print(heroes) #printing the whole dictionary

{'Batman': 'Bruce Wayne', 'Superman': 'Clark Kent'}

In [10]:
print(heroes["Batman"]) #printing a specific key
print(heroes["Superman"])

Bruce Wayne
Clark Kent

In [11]:
heroes["Spiderman"] = "Peter Parker" #we can easily add more keys to the list, no particular method needed
print(heroes)

{'Batman': 'Bruce Wayne', 'Superman': 'Clark Kent', 'Spiderman': 'Peter Parker'}